@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section huongdan{
    <text>Trang chủ</text>
}
<div class="container-fluid no-padding">
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/hinhnen.jpg" class="img-responsive" />
        </div>
    </div>
</div>
@section Styles{
    <style type="text/css">
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
}
