@model WebAuLac.Models.HeDaoTao

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Chi tiết Hệ đào tạo</h4>
</div>
<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.TenHeDaoTao):</th>
            <td>@Html.DisplayFor(model => model.TenHeDaoTao)</td>
        </tr>  
            
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal">OK</button>
</div>
