@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section huongdan{
    <text>THÔNG BÁO</text>
}
<h4>Bạn chưa có quyền truy cập vào chức năng này. Liên hệ Quản trị để biết thêm chi tiết.</h4>
